 <div id="settings">
  {% for setting in settings %}
		{% if setting.type == 'enroll' %}
		<br />
		List of users waiting for enrollment :
		<br />
			{% for member in setting.parameters %}
				<form action="{{ url_for('enroll') }}" method="post" id="enroll-{{ member.id }}">
					Identity : {{ member.token }}
					<input type="hidden" name="Id" value="{{ member.id }}"
					Firstname:<br />
					<input type="text" name="firstname" placeholder="Nombre" value="">
					<br>
					Lastname : <br />
					<input type="text" name="lastname" placeholder="Apellido" value="">
					<br /><br />
					<input type="submit" value="Guardar">
				</form>
			{% endfor %}
		{% endif %}
  {% endfor %}
  </div>
