<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="Description" content="Access Controller, HID, Raspberry">
	<title>Omni</title>
	<!-- Loading scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" defer> </script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./styles/site.css">

	<!-- App specifics Starts here -->

	<!-- 							-->
</head>
<body>
<div>
<nav class="navbar navbar-dark navbar-expand-lg header">
    <a class="navbar-brand" href="#" onclick="$('#main').load('./main');">Omni</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" data-role="navbar">
            <a class="nav-item nav-link active" href="#" onclick="$('#main').load('./main');">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#" onclick="$('#main').load('./stateView');">System state</a>
            <a class="nav-item nav-link" href="#" onclick="$('#main').load('./settingsView');">Settings</a>
            <a class="nav-item nav-link" href="#">....</a>
        </div>
    </div>
</nav>
</div>
<div class="container" id="main"></div>
<div id="footer" class="footer"></div>
<div id="snackbar">--</div>
<div id="modalRegister"></div>
</body>
</html>
