 <div id="online-controllers">
   <br/> </br>
  {% for device in devices %}
  <div class="card" style="width: 18rem;">
    <div id="{{ device.clientId }}">
		<b> {{ device.description }} </b> <br/>
    <div class="alert alert-primary" role="alert">
    IP : {{ device.endpoint }} <br/>
		Zone : {{ device.zone }} <br/>
		{% if device.deviceType == 1 %}
		Type : HID Reader <br/>
		{% endif %}
		{% if device.deviceType == 2 %}
		Type : FingerPrint Reader <br/>
		{% endif %}
		{% if device.deviceType == 3 %}
		Type : Power Meter <br/>
		{% endif %}
		Enabled : {{ device.enabled }} <br/>
    </div>
    {% if device.is_in_error %}
    <div class="alert alert-warning" role="alert">
      Status : {{ device.error_status }}
    </div>
    {% else %}
    <div class="alert alert-success" role="alert">
      Status : OK
    </div>
    {% endif %}
		</div>
		<input type="button" value="Force reload config" id="btnFrceReload-{{ device.clientId }}"/>
  </div>
  <br/>
	<script>
	$(document).ready(function() {
		$('#btnFrceReload-{{ device.clientId }}').click(function() {
			var url = "http://{{ device.endpoint }}:5555/reloadConfiguration";
			$.ajax({
						 type: "POST",
						 url: url,
						 data: '',
						 success: function(data)
						 {
								 alert("Reloading in progress...")
								 location.reload();
						 }
					 });
		});
	})
	</script>
  {% endfor %}
  </div>
